<!-- The scrolling text, originally made by Joana Chicau -->
<div>
	<marquee class="bgLogo" direction="up" scrollamount="5"><br> Live <br><br> Live <br><br><br>Live <br><br> Live <br><br> Live <br><br><br> Live <br><br>Live <br><br> Live <br><br> Live <br><br><br><br> Live <br><br><br> Live <br><br><br><br>Live <br> Live <br><br> Live <br> Live</marquee>
	<marquee class="bgLogo" direction="down" scrollamount="8">< Coding > <br><br><br> < Coding > <br><br> < Coding > <br><br><br><br><br> < Coding > <br><br><br> < Coding > <br><br> < Coding > <br><br> < Coding > <br> <br><br> < Coding > <br><br><br><br> < Coding > <br><br> < Coding > </marquee>
	<marquee class="bgLogo" direction="up" style="text-align: right;" scrollamount="13"><br><br><br>NL <br> <br>_CL <br><br>NL <br><br>NL  <br><br>_CL  <br><br>NL <br> <br>_CL <br> <br><br><br>NL <br>NL <br><br><br>_CL <br></marquee>
</div>