{{ define "main" }}

{{ partial "nlcl-text.html" }}

<div>
	<p>
		>Netherlands Coding Live aka "NL_CL" ~ a series of live coding sessions, discussions, workshops and a lot more organized by live coders based in The Netherlands.
	</p>
	
	<h1>Join Us 👋</h1>
	<p>
		Follow the latest updates from our site, mastodon, instagram or get in touch:

		<br><br><a href="https://social.toplap.org/@nl_cl">* Mastodon *</a>

		<br><br><a href="https://instagram.com/nl_codinglive">* Instagram *</a>
		
		<br><br><a href="mailto:netherlands-coding-live@protonmail.com">* netherlands-coding-live [at] protonmail [dot] com *</a>
		
		<!--TODO: dynamicially generate WEBCAL-URL for calendar.ics-file-->
		<br><br><a href="webcal://netherlands-coding-live.github.io/events/calendar.ics">* Subscribe to event calendar *</a>
		
	</p>
</div>

<h1>Events 🎉</h1>

<div class="posts-list">
{{ with .Site.GetPage "/events" }}
	{{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
		<div class="post">
			<p>
				<div class="date">{{ .Params.start.Format "Jan. 2, 2006 15:04" }}</div>
				<h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
				{{ .Description }}
			</p>
		</div>    
	{{ end }}
{{ end }}
	<div class="post">
		<p>
			<h2><a href="events">more...</a></h2>
		</p>
	</div>
</div>

<h1>Memories 📸</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
	{{ range first 9 (sort .Data.Pages "Date" "desc")}}
		<a href="{{ .Permalink }}" title="{{ .Title }}">
		{{ $image := .Page.Resources.GetMatch .Params.image }}
		{{ with $image }}
			{{ $thumb := .Fill "500x500 jpeg q80" }}
			<img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
		{{end}}
		</a>
	{{ end }}
{{ end }}
</div>

{{ end }}