{{ define "main" }}
<div style="margin-bottom: 2em">
    <h1>{{ .Page.Title }}</h1>
    
    <!--TODO: dynamicially generate WEBCAL-URL for calendar.ics-file-->
    <a href="webcal://netherlands-coding-live.github.io/events/calendar.ics">+ Subscribe to calendar</a>
</div>
<br/>
{{ .Content }}
<div class="posts-list">
{{ range sort .Data.Pages ".Params.start" "desc" }}
    {{ if not .Params.private }}
        <div class="post">
            <div class="date">{{ .Params.start.Format "Jan. 2, 2006" }}</div> 
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                

            {{ .Description }}
            <a class="download-ics-btn" href="{{ .Page.RelPermalink }}calendar.ics">+ Add to calendar</a>
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}